@import './boostrap/bootstrap.scss';

$primary: #3F5D45;
$primary-light: #EAF0ED;
$primary-dark: #8DA291;
$accent: #FFE180;

.btn-cusPrimary {
    @include button-variant($primary-light, $primary-light, $primary);
    @include button-size(16px, 90px, 24px, 0);
}

.btn-cusAccent {
    @include button-variant($accent, $accent, $primary);
    @include button-size(16px, 20px, 24px, 0);
    font-weight: 600;
    text-align: center;
}

button{
    white-space: nowrap;
}

.btn:focus {
    box-shadow: none;
}