.cardsList{
    .body{
        width: 300px;
    }
    h5, p{
        padding: 14px 0px;
    }
    .tag{
        left: 20px;
        top: 0;
        writing-mode: vertical-lr;
    }
}

.shoppingCartListPic{
    width: 110px;
    height: 110px;
    background-position: center center;
    background-size: cover;
    &:first-child{
        margin-top: 13px;
    }
}

.checkoutCartListPic{
    width: 120px;
    height: 90px;
    background-position: center center;
    background-size: cover;
}

.cardPic{
    height: 315px;
    background-position: center center;
    background-size: cover;
}

.dessert1{
    background-image: url(/Picture/p1-2/p-2.png);
}

.dessert2{
    background-image: url(/Picture/p1-2/p-5.png);
}

.dessert3{
    background-image: url(/Picture/p1-2/photo-1504473089979-b1c4993a9653.webp);
}

.dessert4{
    background-image: url(/Picture/p3-4/p-1.png);
}

.dessert5{
    background-image: url(/Picture/p3-4/p-3.png);
}

.dessert6{
    background-image: url(/Picture/p3-4/p-4.png);
}

.dessert7{
    background-image: url(/Picture/p3-4/p-6.png);
}

.CartListPic1{
    background-image: url(/Picture/p7-9_15_17-18/photo-1504855328839-2f4baf9e0fd7.webp);
}

.CartListPic2{
    background-image: url(/Picture/p7-9_15_17-18//photo-1525203135335-74d272fc8d9c.webp);
}

.CartListPic3{
    background-image: url(/Picture/p7-9_15_17-18/photo-1464305795204-6f5bbfc7fb81.webp);
}