.cardList{
    .productNav li{
        border-left: 1px solid $primary-light;
        border-bottom: 1px solid $primary-light;
        border-right: 1px solid $primary-light;
        &:hover, &:active{
            background-color: $primary-light;
        }
    }
}