.iconInputLeft{
    display: flex;
    position: relative;
    width: 315px;
    img, span{
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translate(0,-50%);
    }
    input{
        height: 56px;
        padding: 16px 0;
        text-indent: 50px;
        background-color: $primary-light;
        border: 0px;
        color: $primary;
        border-radius: 0%;
    }
}

.iconInputRight{
    display: flex;
    position: relative;
    width: 316px;
    img, span{
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translate(0,-50%);
    }
    input{
        height: 56px;
        padding: 17px 0;
        text-indent: 20px;
        background-color: $primary-light;
        border: 0px;
        color: $primary;
        border-radius: 0%;
    }
}

.noIconInput{
    display: flex;
    input{
        height: 56px;
        padding: 17px 0;
        text-indent: 20px;
        background-color: $primary-light;
        border: 0px;
        color: $primary;
        border-radius: 0%;
    }
}

.titleBgPrimaryLight{
    padding: 16px 0;
    text-align: center;
    background: $primary-light;
    font-weight: 600;
}
