.dessertContent{
    writing-mode: horizontal-tb;
}

.dessertPic{
    width: 100%;
}

@include media-breakpoint-up(lg) {
    .dessertPic{
        width: 460px;
    }
    .dessertContent{
        writing-mode: vertical-rl;
        background-color: $primary-light;
    }
}

